// app global css in SCSS form
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$font-title: 'Cormorant Garamond', serif;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$font-text: 'Open Sans', sans-serif;

body{
    font-family: $font-text;
}
.centrar{
    margin: 0px auto;
}
.cuarenta{
    width: 40%;
}
.cuarentaycinco{
    width: 45%;
}
.treinta{
    width: 30%;
}
.cincuenta{
    width: 50%;
}
.sesenta{
    width: 60%;
}
.setenta{
    width: 70%;
}
.cien{
    width: 100%;
}
.text-h6{
    font-family: $font-title;
}
.titulos, .title{
    font-family: $font-title;
    font-size: 54px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.titulo2{
    font-family: $font-title;
    font-size: 44px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.subtitle{
    font-family: $font-title;
    font-size: 46px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.subtitle_open{
    font-family: $font-text;
    font-size: 25px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.w_800{
    width: 800px;
}
.w_850{
    width: 850px;
}
.w_500{
    width: 500px;
}
.w_30{
    width: 30%;
}
.w_1000{
    width: 1000px;
}
.w_1100{
    width: 1100px;
}
.w_1200{
    width: 1200px;
}
.w_sesenta{
    width: 60%;
}
.w_cincuenta {
    width: 50%;
}
.w_cuarenta{
    width: 40%;
}
.m_left_20{
    margin-left: 20px;
}
.m_y_20{
    margin: 20px 0;
}
.h_44{
    height: 39px;
    margin-top: 5px;
}
.hr_amarillo{
    border: 1px solid #CA9E64;
}
.bg_amarillo{
    background: #FDF9F2 0% 0% no-repeat padding-box;
}
.bg_white{
    background: #fff;
}
.bg_white_i{
    background: #fff!important;
}
.bg_orange{
    background: #CA9E64!important;
}
.ma_to_50{
    margin-top: 50px;
}
.ma_to_30{
    margin-top: 30px;
}
.ma_bo_30{
    margin-bottom: 30px;
}
.open{
    font-family: $font-text;
    font-weight: 400;
}
.text_white{
    color: #fff;
}
.text_azul{
    color: #1F2660;
}
.btn_bg_beige{
    background: #CA9E64 padding-box !important;
    color: #fff;
    border: none;
    padding: 5px;
    .q-btn__wrapper:before {
        border: none;
    }
}
.sin_borde{
    background: none padding-box !important;
    color: #1F2660;
    border: none;
    padding: 5px;
    .q-btn__wrapper:before {
        border: none;
    }
}
.italic{
    text-align: center;
    font-size: 22px;
    font-family: $font-title;
    font-style: italic;
    letter-spacing: -0.44px;
    color: #1F2660;
    opacity: 1;
}
h3{
    font-family: $font-title;
    color: #1F2660;
}
.text_gry{
    color: #7C7E91;
}
p{
    letter-spacing: 0px;
    color: #7C7E91;
    opacity: 1;
    font-family: $font-text;
    font-size: 16px;
}
.destacado_italic{
    text-align: center;
    font-family: $font-title;
    font-size: 22px;
    letter-spacing: -0.44px;
    color: #3A4286;
    opacity: 1;
    font-style: italic;
}
.row_2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    label{
        width: 49%;
    }
}
.home{
    header{
        .wrap_top{
            text-align: center;
            position: relative;
            .btn_right_top{
                position: absolute;
                right: 20px;
                top: 15px;
            }
        }
        .q-tabs{
            background: #1f2660;
            width: 100%;
            .q-tabs__content{
                max-width: 1500px;
                margin: 0px auto;
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                .q-tab__content{
                    min-width: 100px;
                }
                .q-tab {
                    padding: 0px;
                    .q-tab__label{
                        font-size: 14px;
                        letter-spacing: 0px;
                        color: #FDF9F2;
                        text-transform: capitalize;
                    }
                    &.q-tab--active{
                        .q-tab__label{
                            font-weight: bold;
                            color: #E8C28F;
                        }
                    }
                    &:hover{
                        .q-tab__label{
                            color: #E8C28F;
                        }
                    }
                }
            }
        }
    }
}
.first_row_home{
    >div{
        width: 50%;
        .sin_fondo{
            width: 85%;
        }
        .hover_iframe{
            position: relative;
            &:before{
                content: "";
            }
            &:hover{
                &:before{
                    width: 560px;
                    height: 400px;
                    background: #1027a552;;
                    z-index: 9;
                    position: absolute;
                    content: "";
                    pointer-events: none;
                }
            }

        }
        iframe{
            &:before{
                width: 100%;
                height: 400px;
                background: red;
                z-index: 9;
                content: "";
            }
        }
    }
}
.banner_top.q-carousel{
    margin-top: 20px;
}
.sin_fondo{
    background: transparent;
    box-shadow: none;
}
.all_width{
    width: 100%;
}
.row_wrap{
    width: 1200px;
    margin: 0px auto;
}
.gris_home{
    background: #f5f4f4;
}
.bg_beige{
    background: #fdf9f3;
}
.azul{
    color: #111e51;
}
.bg_azul{
    background: #111e51;
}
.franja_azul{
    background: #111e51;
    padding: 10px;
    text-align: center;
    h5{
        font-family: $font-title;
        font-size: 53px;
        font-weight: 300;
        margin: 15px 35px 15px 0;
    }
}
.esquma_inferior{
    td{
        padding: 5px;
        a{
            width: 100%;
            height: 100%;
            display: inline-block;
            position: relative;
            &:hover{
                &:after{
                    width: 100%;
                    height: 97%;
                    background: #1027a58a;
                    z-index: 9;
                    left: 0;
                    top: 0;
                    position: absolute;
                    content: "";
                    pointer-events: none;
                }
            }
        }
    }
    img{
        width: 100%;
    }
    tr{
        td{
            position: relative;
            &:first-child, &:nth-child(2){
                a{
                    &:before{
                        content: "";
                        background: url("../assets/Home/i-play.svg") center center no-repeat;
                        width: 61px;
                        height: 61px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -30px;
                        margin-top: -30px;
                    }
                }
            }
        }
    }
}
.amarillo_suave{
    color: #E8C28F;
}
.q-footer {
    ul{
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        li{
            list-style: none;
            width: 20%;
            position: relative;
            &:after{
                content: "";
                height: 52px;
                width: 1px;
                background: #575656;
                right: 0;
                top: 15px;
                position: absolute;
            }
            p{
                margin: 1px;
                color: #FAFAFA;
            }
            strong{
                margin: 0px 0px 15px;
            }
        }
    }
}
.text-h6{
    color: #111e51;
    font-size: 36px;
    line-height: 1.2;
}
.text-h6-home{
    color: #111e51;
    font-family: $font-title;
    font-size: 54px;
    line-height: 1;
    margin-bottom: 13px;
    font-weight: 300;
}
.color_submenu{
    color: #ca9e64;
}
.text-submenu {
    color: #ca9e64 !important;
  }
.bg-submenu {
    background: #ca9e64 !important;
}
.sub_menu{
    margin-top: 20px;
    margin-bottom: -40px;
    position: relative;
    z-index: 99;
    background: #fff;
    .q-btn__content{
        color: #111e51 !important;
        text-transform: capitalize;
        &:hover{
            color:#E8C28F;
        }
    }
    button{
        position: relative;
        &.disabled {
            .q-btn__content{
                color:#CA9E64 !important;
                font-weight: bold;
                opacity: 1!important;
            }
        }
        &:after{
            content: "";
            height: 18px;
            top:8px;
            right: 0;
            border-right: 1px solid #ecc38c;
            position: absolute;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}
.view_quienes_somos{
    background: #f5f4f4;
}
.view_mision{
    .content_mision{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 512px;
        margin: 0px auto;
        padding: 0;
        li{
            width: 100%;
            padding: 25px;
            margin: 20px 0;
            background: #fff;
            border-radius: 20px;
            position: relative;
            list-style: none;
            min-height: 160px;


            &.left{
                margin-left: -100px;
                padding-left: 155px;
                img{
                    position: absolute;
                    left: -120px;
                    top: -50px;
                }
            }
            &.right{
                margin-right: -100px;
                padding-right: 155px;

                img{
                    position: absolute;
                    right: -120px;
                    top: -50px;
                }
            }
            hr{
                width: 100px;
                background: #CA9E64;
                height: 2px;
                left: 0;
                text-align: left;
                margin-left: 0px
            }
            .content_text{
                text-align: left;
            }
        }
    }
}
.wrp_submenu{
    display: flex;
    justify-content: center;

    .sub_menu{
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
.view_directorio{
    .title{
        text-align: center;
        font-size: 54px;
        letter-spacing: -1.08px;
        color: #1F2660;
        opacity: 1;
    }
    .row_director.bg_amarillo{
        ul{
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            background: #FDF9F2 0% 0% no-repeat padding-box;
            li{
                display: flex;
                width: 350px;
                justify-content: space-between;
                align-items: center;

                img{
                    width: 126px;
                    height: 126px;
                }
                .name{
                    text-align: left;
                    letter-spacing: 0px;
                    font-size: 17px;
                    color: #1F2660;
                    opacity: 1;
                    display: block;
                    width: 100%;
                    padding-left: 15px;
                    position: relative;
                    margin-bottom: 20px;
                    &:after{
                        content: "";
                        width: 37px;
                        height: 0px;
                        border: 1px solid #CA9E64;
                        left: 12px;
                        bottom: -10px;
                        position: absolute;
                    }
                }
                .cargo{
                    text-align: left;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    color: #1F2660;
                    opacity: 1;
                    display: block;
                    padding-left: 15px;
                    width: 100%;
                }
            }
        }
    }
    .content{
        max-width: 1200px;
        margin: 10px auto;
    }
    .list_directivos{
        ul{
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background: #fff;
                border-radius: 12px;
                padding: 9px;
                width: 30%;
                margin: 15px;

                img{
                    width: 126px;
                    height: 126px;
                }
                .wrp_foto{
                    width: 45%;
                }
                .nombre{
                    width: 55%;
                }
                .name{
                    text-align: left;
                    letter-spacing: 0px;
                    font-size: 15px;
                    color: #1F2660;
                    opacity: 1;
                    display: block;
                    width: 70%;
                    padding-left: 15px;
                    position: relative;
                    margin-bottom: 20px;
                    &:after{
                        content: "";
                        width: 37px;
                        height: 0px;
                        border: 1px solid #CA9E64;
                        left: 12px;
                        bottom: -10px;
                        position: absolute;
                    }
                }
                .cargo{
                    text-align: left;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    color: #1F2660;
                    opacity: 1;
                    display: block;
                    padding-left: 15px;
                    width: 100%;
                }
            }
        }
    }
}
.caja_directivos{
    width: 494px;
    height: 337px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin: 10px auto 0px;
    overflow-y: scroll;
    ul.list_expresidentes{
        padding: 10px;
        li{
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
        .fecha{
            font-size: 16px;
            letter-spacing: 2.2px;
            color: #7C7E91;
            text-transform: uppercase;
            opacity: 1;
            width: 125px;
            font-weight: bold;
            text-align: right;
        }
        .separador{
            height: 31px;
            width: 1px;
            background: #CA9E64;
            margin: 0px 24px;
        }
        .nombre{
            font-size: 17px;
            letter-spacing: -0.36px;
            color: #7C7E91;
            opacity: 1;
            line-height: 1;
            text-align: left;
            width: 195px;
        }
    }
}
.wrp_expresidentes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    margin: 0px auto;
    .actiones_scroll{
        display: none;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;

            li{
                margin: 20px 20px 15px;
                list-style: none;
                span{
                    width: 27px;
                    height: 27px;
                    display: inline-block;
                    color: #1F2660;
                    border-radius: 50%;
                    position: relative;
                    background: #CA9E64 0% 0% no-repeat padding-box;

                    &.up{
                        &:after{
                            content: "\0221f";
                            position: absolute;
                            left: 7px;
                            font-weight: bold;
                            top: 6px;
                            color: #1F2660;
                            font-size: 15px;
                            transform: rotate(134deg);
                        }
                    }
                    &.down{
                        &:after{
                            content: "\0221f";
                            position: absolute;
                            left: 6px;
                            font-weight: 700;
                            top: 2px;
                            color: #1F2660;
                            font-size: 15px;
                            transform: rotate(315deg);
                        }
                    }
                }
            }
        }
    }
}
.wrp_club{
    .table_clubes{
        table{
            width: 95%;
            border-collapse: collapse;
            tr{
                th{
                    padding: 4px 28px 2px;
                    background: #fff;
                    font-family: "Open Sans", sans-serif;
                    letter-spacing: 0px;
                    font-size: 25px;
                    font-weight: 500;
                    color: #1F2660;
                    opacity: 1;
                    border-bottom: 2px solid #E8C28F;

                    img{
                        width: 35px;
                    }
                }
                td{
                    padding: 9px 28px 6px;
                    background: #fff;
                    font-family: "Open Sans", sans-serif;
                    letter-spacing: 0px;
                    font-size: 15px;
                    font-weight: 500;
                    color: #7C7E91;
                    opacity: 1;
                    border-bottom: 1px solid #E8C28F;
                    &:first-child{
                        font-weight: 700;
                    }
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.pop_club{
    justify-content: space-between;
    border-bottom: 1px solid #CA9E64;
    .desc_club{
        width: 63%;
        text-align: left;
        font-family: $font-text;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 1.3;
        color: #7C7E91;
    }
    .enlace{
        width: 27%;
        color: #7C7E91;
    }
}
.wrp_btn_down{
    text-align: left;
    letter-spacing: 0px;
    color: #7C7E91;
    opacity: 1;
    border: 1px solid #CA9E64;
    border-radius: 10px;
}
.box_download{
    text-align: left;
    letter-spacing: 0px;
    max-width: 280px;
    color: #7C7E91;
    opacity: 1;
    border: 1px solid #CA9E64;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;

    span{
        display: block;
        font-size: 15px;
        letter-spacing: 0px;
        color: #7C7E91;
        opacity: 1;
        font-family: $font-text;
        margin-left: 12px;
        &.bold{
            font-weight: bold;
        }
    }
    a{
        text-decoration: none;
    }
}
.pop_descargar{
    align-items: center;
    h4{
        margin: 4px 0;
        text-align: right;
        letter-spacing: 0px;
        color: #7C7E91;
        font-family: $font-text;
        opacity: 1;
        font-size: 16px;
        margin-right: 50px;
    }
}
.wrp_list_pop{
    display: flex;
    align-items: flex-start;
    h4{
        margin: 4px 0;
        text-align: right;
        letter-spacing: 0px;
        color: #7C7E91;
        font-family: $font-text;
        opacity: 1;
        font-size: 16px;
        margin-right: 30px;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            font-size: 15px;
            letter-spacing: 0px;
            color: #7C7E91;
            opacity: 1;
            font-family: $font-text;
            margin-left: 12px;
        }
    }
}
.etiquetas{
    h5{
        margin: 6px 0;
        text-align: left;
        font-size: 24px;
        font-family: $font-text;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-left: 10px;
    }
    ul{
        li{
            text-align: left;
            font-size: 15px;
            font-family: $font-text;
            letter-spacing: 0px;
            color: #7C7E91;
            opacity: 1;
            list-style: none;
            position: relative;
            &:before{
                content: "\025cb";
                position: absolute;
                left: -20px;
                top: -2px;
                font-size: 16px;
                color: #CA9E64;
            }
        }
    }
    .card_etiquetas{
        border-radius: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #CA9E64;
        opacity: 1;
        box-shadow: none;
        margin: 16px;
    }
}
.table_cuota_trimestral{
    width: 100%;
    border-collapse: collapse;
    tr{
        th{
            background: #CA9E64 0% 0% no-repeat padding-box;
            color: #fff;
            text-align: left;
            padding: 6px;
            font-size: 16px;
        }
        td{
            background: #F5F4F4 0% 0% no-repeat padding-box;
            padding: 8px;
            text-align: left;
            font-size: 15px;
            font-family: $font-text;
            letter-spacing: 0px;
            color: #7C7E91;
        }
        &:nth-child(2n-1){
            td{
                background: #FFF0DB 0% 0% no-repeat padding-box;
            }
        }
    }
}
.cuotas{
    .box_download{
        margin: 0;
    }
}
.wrp_gallery_video{
    .botones{
        button{
            border-radius: 50%;
            background: #fff;
            box-shadow: none;
            background-image: none!important;
            margin: 6px;
            .q-btn__wrapper{
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #666;
            }
            &.bg-primary{
                .q-btn__wrapper{
                    color: #CA9E64;
                    font-weight: bold;
                    border: 1px solid #CA9E64;
                }
            }
        }
        .q-btn-group > .q-btn-item:not(:last-child) {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .q-btn-group > .q-btn-item:not(:first-child) {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        .q-btn-group{
            box-shadow: none;
        }
        .q-btn__wrapper {
            padding: 1px 9px;
            min-height: 0.572em;
            border-radius: inherit;
            width: 100%;
            height: 100%;
        }
    }
}
.wrp_gallery_multimedia{
    .botones{
        button{
            border-radius: 50%;
            background: #fff;
            box-shadow: none;
            background-image: none!important;
            margin: 6px;
            .q-btn__wrapper{
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #666;
            }
            &.bg-primary{
                .q-btn__wrapper{
                    color: #1f2660;
                    font-weight: bold;
                    border: 1px solid #CA9E64;
                }
            }
        }
        .q-btn-group > .q-btn-item:not(:last-child) {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .q-btn-group > .q-btn-item:not(:first-child) {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        .q-btn-group{
            box-shadow: none;
        }
        .q-btn__wrapper {
            padding: 1px 9px;
            min-height: 0.572em;
            border-radius: inherit;
            width: 100%;
            height: 100%;
        }
    }
    .q-carousel__arrow {
        .text-primary{
            color: #CA9E64 !important;
        }
    }
}
.wrp_gallery_beneficios{
    .galeria_beneficios{
        background: transparent;
    }
    .azul_galery{
        text-align: center;
        font-family: $font-title;
        font-size: 22px;
        letter-spacing: -0.44px;
        color: #1F2660;
        font-weight: bold;
        font-style: italic;
    }
    .tex_galery{
        text-align: center;
        font-size: 15px;
        font-family: $font-text;
        letter-spacing: 0px;
        color: #7C7E91;
    }
    .treintaydos{
        background: #fff;
        width: 32%;
        padding: 0px 14px 15px;
        border-radius: 10px;
        min-height: 252px;
    }
    .botones{
        button{
            border-radius: 50%;
            background: #fff;
            box-shadow: none;
            background-image: none!important;
            margin: 6px;
            .q-btn__wrapper{
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #666;
            }
            &.bg-primary{
                .q-btn__wrapper{
                    color: #1f2660;
                    font-weight: bold;
                    border: 1px solid #CA9E64;
                }
            }
        }
        .q-btn-group > .q-btn-item:not(:last-child) {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .q-btn-group > .q-btn-item:not(:first-child) {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        .q-btn-group{
            box-shadow: none;
        }
        .q-btn__wrapper {
            padding: 1px 9px;
            min-height: 0.572em;
            border-radius: inherit;
            width: 100%;
            height: 100%;
        }
    }
    .q-carousel__arrow {
        .text-primary{
            color: #CA9E64 !important;
        }
    }
}

.wrp_gallery_biblioteca{
    .galeria_beneficios{
        background: transparent;
    }
    .azul_galery{
        text-align: center;
        font-family: $font-title;
        font-size: 22px;
        letter-spacing: -0.44px;
        color: #1F2660;
    }
    .tex_galery{
        text-align: center;
        font-size: 15px;
        font-family: $font-text;
        letter-spacing: 0px;
        color: #7C7E91;
    }
    .treintaydos_general{
        background: #fff;
        width: 32%;
        padding: 25px 14px 15px;
        border-radius: 10px;
        td{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .img_biblioteca{
                width: 167px;
                height: 129px;
            }
            .btn_bg_beige{
                border-radius: 50px;
                padding: 0;
            }
        }
    }
    .botones{
        button{
            border-radius: 50%;
            background: #fff;
            box-shadow: none;
            background-image: none!important;
            margin: 6px;
            .q-btn__wrapper{
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #666;
            }
            &.bg-primary{
                .q-btn__wrapper{
                    color: #1f2660;
                    font-weight: bold;
                    border: 1px solid #CA9E64;
                }
            }
        }
        .q-btn-group > .q-btn-item:not(:last-child) {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .q-btn-group > .q-btn-item:not(:first-child) {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        .q-btn-group{
            box-shadow: none;
        }
        .q-btn__wrapper {
            padding: 1px 9px;
            min-height: 0.572em;
            border-radius: inherit;
            width: 100%;
            height: 100%;
        }
    }
    .q-carousel__arrow {
        .text-primary{
            color: #CA9E64 !important;
        }
    }
}
.hazte_socio{
    .sesenta{
        img{
            max-width: 500px;
        }
        border-right: 1px solid #CA9E64;
    }
    .treintaycinco{
        width: 35%;
        margin-left: 15px;
    }
    td{
        vertical-align: top;
        padding: 5px;
        h5{
            text-align: left;
            margin-top: 0;
            font-size: 24px;
            font-family: $font-text;
            letter-spacing: 0px;
            color: #1F2660;
            opacity: 1;
            margin-bottom: 10px;
        }
    }
}
.sin_margen{
    margin: 0;
}
.contacto_footer{
    display: flex;
    justify-content: space-around;
    width: 70%;
    li{
        list-style: none;
        border: 1px solid #CA9E64;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
        padding: 11px 15px;

        span{
            font-size: 15px;
            font-family: $font-text;
            letter-spacing: 0px;
            color: #7C7E91;
            opacity: 1;
            margin-left: 15px;
        }
    }
}
.pop_hazte_socio{
    max-width: 100%;
    min-width: 800px;
    .pop_club{
        border-bottom: none;
    }
    .mt_10{
        margin-top: 10px;
    }
    .close_top{
        margin-top: -50px;
    }
    .text-h6 {
        text-align: left;
        font-family: $font-text;
        font-size: 24px;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    form{
        width: 100%;
        label{
            padding-bottom: 0;
            margin-top: 10px;
            .q-field__control{
                color: #d47c06;
                &:before{
                    border: 1px solid #E8C28F;
                }
            }
        }
    }
    .pop_radio{
        padding-top: 4px;
        .label_radio{
            font-size: 16px;
            font-family: $font-text;
            letter-spacing: 0px;
            color: #7C7E91;
        }
        .vertical{
            flex-direction: column;
            display: flex;

            .q-radio{
                .q-radio__bg{
                    top: 21%;
                    left: 25%;
                    width: 55%;
                    height: 55%;
                    background: #fff;
                    border-radius: 50%;
                }
            }
            .q-radio__label{
                font-size: 16px;
                font-family: $font-text;
                letter-spacing: 0px;
                color: #7C7E91;
            }
        }
    }
}

.pop_reserva_spa{
    max-width: 100%;
    min-width: 800px;
    background: #FDF9F2;
    padding: 40px;
    padding-top: 0;
    .wrp_midle{
        width: 100%;
    }
    .mt_10{
        margin-top: 10px;
    }
    .close_top{
        margin-top: -50px;
    }
    .text-h6 {
        text-align: left;
        font-family: $font-text;
        font-size: 24px;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    form{
        width: 100%;
        background: #fff;
        padding: 30px;
        label{
            padding-bottom: 0;
            margin-top: 10px;
            .q-field__control{
                color: #d47c06;
                &:before{
                    border: 1px solid #E8C28F;
                }
            }
        }
    }
}
.mt_20_negativo{
    margin-top: -20px;
}
.wrp_pop_consulta{
    width: 100%;
    max-width: 800px !important;
    .subtitle_center{
        text-align: center;
        font-family: $font-title;
        font-size: 44px;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-bottom: 15px;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        tr{
            th{
                text-align: left;
                font-size: 24px;
                letter-spacing: 0px;
                color: #1F2660;
                opacity: 1;
                font-weight: 400;
                margin-bottom: 7px;
                padding: 5px 5px 11px;
                text-align: left;
            }
            td{
                text-align: left;
                font-size: 15px;
                letter-spacing: 0px;
                color: #7C7E91;
                opacity: 1;
                padding: 17px 5px 7px;
                border-bottom:1px solid #E8C28F;
                line-height: 1;

                &:first-child{
                    font-weight: bold;
                }
            }
        }
    }
}
.wrp_nuevos_socios{
    h6{
        text-align: left;
        font-size: 25px;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-bottom: 20px;
    }
    table{
        width: 100%;
        margin: 20px auto;
        tr{
            td{
                padding: 25px;
            }
        }
    }
}
.view_fitness{
    .wrp_actions_center_spa{
        width: 400px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        li{
            list-style: none;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            width: 190px;
            height: 142px;

            img{
                margin: 10px;
                width: 41px;
                height: 43px;
            }
            strong{
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #1F2660;
            }
            a{
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #1F2660;
                margin: 7px;
                text-decoration: none;
            }
        }
    }
    .contenido_fitness{
        td{
            padding: 0px 20px;
        }
        h6{
            font-size: 44px;
            font-weight: 300;
            font-family: $font-title;
            letter-spacing: -0.88px;
            line-height: 1;
            color: #1F2660;
            opacity: 1;
            margin: 40px 0;
        }
    }
    .table_fitnes{
        tr{
            background: #fff;
            margin: 23px 0;
            display: flex;
            justify-content: center;
            align-items: inherit;
            padding: 5px;
            td{
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0px;
                color: #7C7E91;
                opacity: 1;
                li{
                    list-style: none;
                    strong{
                        margin-top: 12px;
                        display: inherit;
                    }
                }
            }
            .align_right{
                text-align: right;
                width: 38%;
                padding-right: 18px;
                border-right: 1px solid #CA9E64;
            }
            .center{
                text-align: center;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 0px;
                color: #1F2660;
                opacity: 1;
                min-height: 86px;
            }
            .align_left{
                text-align: left;
                width: 38%;
                padding-left: 18px;
                border-left: 1px solid #CA9E64;
            }
        }
        .sin_fondo{
            background: transparent;
            justify-content: space-around;
            th{
                text-align: left;
                font-size: 40px;
                font-weight: 400;
                font-family: $font-title;
                letter-spacing: 0px;
                color: #1F2660;
                opacity: 1;
                margin-bottom: 0px;
            }
        }
    }
}
.fitnes_last{
    justify-content: space-between;

    .staff{
        width: 45%;
    }
    .form_fitness{
        width: 45%;
        position: relative;
        &:after{
            position: absolute;
            content: "";
            right: -65px;
            top: 0;
            border-right: 1px solid #CA9E64;
            width: 1px;
            height: 100%;
        }
    }
    .raius{
        width: 118px;
        height: 118px;
        border-radius: 50%;
    }
    .datos_staff{
        background: #fff;
        border-radius: 12px;
        td{
            padding: 10px;

            .border_40{
                width: 40%;
                border: 1px solid #CA9E64;
                display: block;
                margin: 5px 0;
            }
        }
    }
    .contacto_footer{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        li{
            margin: 9px 0;
        }
    }
    .title_text{
        text-align: left;
        font-size: 40px;
        font-weight: 400;
        font-family: $font-title;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .sin_margen_top{
        margin-top: 0;
    }
    .form_fitness{
        margin-top: 5px;
        form{
            width: 100%;
            margin-top: 10px;
            label{
                width: 100%;
                padding-bottom: 0;
                margin-top: 10px;
                background: #fff;
                .q-field__control{
                    color: #d47c06;
                    &:before{
                        border: 1px solid #E8C28F;
                    }
                }
            }
            .text-left{
                margin-top: 0;
            }
        }
    }
}
.wrp_actions_center_peluqueria{
    max-width: 1000px;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;

        a{
            text-align: center;
            background: #fff;
            font-size: 15px;
            font-weight: 400;
            border: 1px solid #1F2660;
            letter-spacing: 0px;
            color: #1F2660;
            margin: 7px 20px;
            text-decoration: none;
            width: 90%;
            padding: 10px 20px;
            display: block;
        }
    }
    &.menos_p{
        max-width: 1200px;
        a{
            padding: 10px 10px;
        }
    }
}
h6.peluqueria{
    margin-top: 0 !important;
    font-size: 44px;
    font-weight: 300;
    font-family: $font-title;
    letter-spacing: -0.88px;
    color: #1F2660;
    opacity: 1;
    margin-bottom: 22px;
}
.contenido_pelu{
    width: 100%;
}
.datos_peluqueria{
    margin: 25px 0;
    width: 100%;
    th{
        text-align: left;
        font-size: 26px;
        font-weight: 400;
        font-family: $font-text;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
        margin-bottom: 0px;
    }
    tr{
        td{
            padding: 9px 8px 3px 0px !important;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0px;
            font-size: 15px;
            font-weight: 500;
            color: #7C7E91;
            opacity: 1;
            border-bottom: 1px solid #E8C28F;
            &.sin_borde{
                border-bottom: none;
            }
        }
    }
}

.datos_staff_contacto{
    border-radius: 12px;
    td{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .border_40{
            width: 40%;
            border: 1px solid #CA9E64;
            display: block;
            margin: 5px 0;
        }
        p{
            margin: 0;
        }
    }
}
.view_restaurantes{
    .wrp_actions_center_restaurante{
        width: 95%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        li{
            list-style: none;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            width: 95px;
            height: 95px;
            margin: 15px;
            cursor: pointer;
            transition: 0.3s;
            strong {
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #1F2660;
                margin-top: 10px;
            }
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                transform: scale(1.05); /* Igual que: scaleX(0.7) scaleY(0.7) */
                background-color: #fcf8f8;
                border: 1px solid #1F2660;
                margin-top: 7px;
            }
        }
    }
}
.hr_restaurante{
    border: 1px solid #CA9E64;
    margin: 0px 20px;
}

.wrp_gallery_beneficios .treintaydos_general{
    background: #fff;
    width: 32%;
    padding: 0px;
    border-radius: 10px;
    .galeri_event{
        border: 1px solid #CA9E64;

        .th_top{
            th{
                border-bottom: 1px solid #CA9E64;
                padding: 10px 0;
                text-align: center;
                letter-spacing: 0px;
                color: #7C7E91;
                font-size: 14px;
                position: relative;
                &:first-child{
                    &:after{
                        height: 23px;
                        content: "";
                        width: 1px;
                        position: absolute;
                        right: 0;
                        background: #CA9E64;
                        top: 8px;
                    }
                }
                .fecha{
                    font-weight: bold;
                }
            }
        }
        tr{
            td{
                padding: 5px 10px;
                button{
                    text-transform: capitalize;
                }
                .q-btn__wrapper:before{
                    box-shadow: none;
                }
            }
        }
    }
}
.wrp_gallery_country{
    .galeria_country{
        background: transparent;
    }
    .q-carousel__control.q-carousel__navigation{
        bottom: -12px;
        .text-primary{
            color: #1f2660 !important;
        }
    }
    .country_slider{
        width: 191px;
        .item_galeria{
            position: relative;
            .info_bottom{
                background: #1F2660E6 ;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: #fff;
                padding: 15px 20px;

                .desc{
                    color: #fff;
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 1.2;
                    display: block;
                }
                button{
                    margin: 5px 0 5px;
                    text-transform: initial;
                }
                .fecha{
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }
    }
}

.wrp_gallery_noticias{
    .galeria_noticias{
        background: transparent;
    }
    .q-carousel__control.q-carousel__navigation{
        bottom: -12px;
        .text-primary{
            color: #1f2660 !important;
        }
    }
    .noticia_slider{
        width: 300px;
        .item_galeria{
            position: relative;
            img{
                width: 300px;
                height: 380px;
            }
            .info_bottom{
                background: #1F2660E6 ;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: #fff;
                padding: 15px 20px;

                .desc{
                    color: #fff;
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 1.2;
                }
                button{
                    margin: 5px 0 5px;
                    text-transform: initial;
                }
                .fecha{
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }
    }
}

.wrp_gallery_multimedia{
    .galeria_multimedia{
        background: transparent;
    }
    .q-carousel__control.q-carousel__navigation{
        bottom: -12px;
        .text-primary{
            color: #c59c66 !important;
        }
    }
    .multimedia_slider{
        width: 32%;
        img{
            width: 100%;
            height: 227px;
        }
        .item_galeria{
            position: relative;
            .info_bottom{
                background: #CA9E64F2 ;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: #fff;
                padding:0px 0px 0px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .desc{
                    color: #fff;
                    margin-bottom: 5px;
                    font-size: 22px;
                    line-height: 1.2;
                    display: block;
                    width: 67%;
                }
                button{
                    margin: 5px 5px 5px;
                    text-transform: initial;
                    .q-btn__wrapper:before{
                        box-shadow: none;
                    }
                    .q-btn__wrapper{
                        padding: 0;
                    }
                    .on-right {
                        margin-left: 5px;
                    }
                }
                .fecha{
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }
    }
}

.wrp_gallery_video{
    .galeria_video{
        background: transparent;
    }
    .q-carousel__control.q-carousel__navigation{
        bottom: -12px;
        .text-primary{
            color: #1F2660 !important;
        }
    }
    .item_cien{
        width: 100%;
        td{
            position: relative;
        }
        .first{
            width: 60%;
            height: 461px;
            img{
                height: 461px;
                width: 100%;
            }
        }
        .othet{
            width: 38%;
            height: 225px;
            img{
                height: 225px;
                width: 100%;
            }
        }

        .info_bottom{
            background: #111958e8;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #fff;
            padding:0px 0px 0px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .desc{
                color: #fff;
                margin-bottom: 5px;
                font-size: 24px;
                line-height: 1.2;
            }
            button{
                margin: 5px 0 5px;
                text-transform: initial;
                .q-btn__wrapper:before{
                    box-shadow: none;
                }
                .q-btn__wrapper{
                    padding: 0;
                }
            }
            .fecha{
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
                display: block;
            }
        }
    }
}
.list_img_link{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-self: start;
    padding:20px;
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #CA9E64;
        background-color: #fff;
        img{
            width: 190px;
            height: 198px;
        }
        h6{
            margin: 5px 0;
            font-size: 20px;
            font-family: $font-text;
            letter-spacing: 0px;
            font-weight: lighter;
            color: #1F2660;
            margin-bottom: 0;
        }
        a{
            margin: 5px 0;
            font-size: 15px;
            font-family: $font-text;
            letter-spacing: 0px;
            font-weight: lighter;
            text-decoration: none;
            color: #1F2660;
            margin-top: 0;
        }
    }
}
.view_kids{
    .title_text{
        font-size: 34px;
        letter-spacing: 0px;
        color: #1F2660;
        font-family: $font-title;
        opacity: 1;
        margin: 25px 0px;
    }
    .wrp_table{
        background: #fff;
        border-radius: 10px;
        padding: 10px 40px;
    }
    .wrp_fechas{
        .txt_norm{
            margin-top: 0;
            text-align: left;
            font-size: 24px;
            letter-spacing: 0px;
            color: #1F2660;
            font-weight: bold;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                margin: 15px 0;
                line-height: 1.3;
            }
        }
        p{
            margin: 0px 0;
        }
        strong{
            text-align: left;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #7C7E91;
        }
        span{
            text-align: left;
            font-size: 15px;
            letter-spacing: 0px;
            color: #7C7E91;
        }
    }
    .bg_white{
        border-collapse: collapse;
        border-radius: 10px;
        width: 100%;
        th{
            text-align: left;
            font-size: 24px;
            letter-spacing: 0px;
            color: #1F2660;
            opacity: 1;
            border-bottom: 1px solid #CA9E64;
            padding: 10px;
        }
        td{
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            padding: 12px 10px;
            letter-spacing: 0px;
            color: #7C7E91;
            opacity: 1;
            &:last-child{
                font-weight: 400;
            }
            &.border_top{
                border-top: 1px solid #CA9E64;
            }
            p{
                margin: 0;
            }
        }
    }
}
.weight_normal{
    font-weight: 400;
}
.staff_general{
    .raius{
        width: 118px;
        height: 118px;
        border-radius: 50%;
    }
    .datos_staff_contacto td {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.wrp_staff_biblioteca{
    ul{
        padding: 0;
    }
    .staff_biblioteca{
        .raius{
            width: 118px;
            height: 118px;
            border-radius: 50%;
        }
        .datos_staff_biblioteca tr{
            display: flex;
            justify-content: space-between;
            align-items: center;

            td {
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p{
                    margin: 4px;
                }
                .noventaycinco{
                    width: 95%;
                }
            }
        }
    }
}

.view_danza{
    .wrp_actions_center_spa{
        width: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        li{
            list-style: none;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            margin: 15px;
            border-radius: 10px;
            width: 190px;
            height: 142px;

            img{
                margin: 10px;
                width: 41px;
                height: 43px;
            }
            strong{
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #1F2660;
            }
            a{
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #1F2660;
                margin: 7px;
                text-decoration: none;
            }
        }
    }
}
.browse_salones{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card_espacios{
    border-radius: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CA9E64;
    opacity: 1;
    box-shadow: none;
    margin: 25px 15px;
    .q-card__section{
        padding: 0px;
    }
    h5{
        margin: 6px 0;
        text-align: center;
        font-size: 24px;
        font-family: $font-text;
        letter-spacing: 0px;
        color: #1F2660;
        opacity: 1;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            text-align: center;
            font-size: 15px;
            font-family: $font-text;
            letter-spacing: 0px;
            color: #7C7E91;
            opacity: 1;
            list-style: none;
            position: relative;

            img{
                width: 295px;
                height: 210px;
            }
            &:nth-child(3){
                display: flex;
                justify-content: center;
            }
        }
    }
    .sin_borde{
        .q-btn__content{
            text-transform: capitalize;
        }
    }
}
.row_1_experience{
    display: flex;
    flex-wrap: nowrap;
    align-self: start;
    justify-content: space-between;

    img{
        max-width: 460px;
    }
}
.sin_borde{
    &:after{
        display: none;
    }
}
.noticias{
    td{padding: 10px;}
}
.text_noticias{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 0px;
    color: #7C7E91;
    opacity: 1;
}
.logos_footer{
    ul{
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        li{
            list-style: none;
            img{
                max-width: 230px;
            }
        }
    }
}
.view_calendario{
    .wrp_actions_calendario{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 0px auto 20px;
        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 00px 10px 20px 10px;
            width: 85px;
            .wrp_animate{
                background: #fff;
                width: 85px;
                height: 90px;
                padding: 15px;
                border-radius: 10px;
                text-align: center;
                .activa{
                    display: none;
                }
            }
            img{
                margin: 10px;
                width: 41px;
                height: 43px;
            }
            strong{
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #1F2660;
                line-height: 1.1;
                margin-top: 7px;
                display: block;
                padding: 0px 4px;
            }
            a{
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #1F2660;
                margin: 7px;
                text-decoration: none;
            }
            &.active{
                .wrp_animate{
                    background: #7c7e8f;
                    .normal{
                        display: none;
                    }
                    .activa{
                        display: block;
                    }
                }
                strong{
                    font-weight: bold;
                }
            }
        }
    }
    .wrp_busca_mes{
        label{
            padding-bottom: 0;
            margin-top: 10px;
            .q-field__control{
                color: #d47c06;
                &:before{
                    border: 1px solid #E8C28F;
                }
            }
        }
    }
}
.ver_mas_multimedia{
    .q-btn__wrapper{
        padding: 4px 21px 0;
        text-transform: capitalize;
        .q-icon {
            font-size: 1.315em;
        }
    }
}
.title_multimedia{
    font-size: 44px;
    font-weight: 300;
}
.f_44{
    font-size: 44px;
}
.q-dialog__inner{
    .pop_descargar{
        .box_download{
            padding: 20px 20px 10px;
            a{
                display: flex;
            }
        }
    }
}
.pop_mi_c{
    padding: 0 20px;
    border: 1px solid #CA9E64;
    .enlace{
        a{
            color: #7C7E91;
            font-size: 14px;
            text-decoration: none;
        }
    }
    >.row{
        button{
            margin-top: -18px;
            margin-right: -18px;
            .q-icon{
                color: #fff;
                border-radius: 50%;
                background: #1F2660;
                padding: 2px;
            }
        }
    }
}
.pop_cuotas{
    padding: 0 20px;
    border: 1px solid #CA9E64;
    button{
        margin-top: -18px;
        margin-right: -18px;
        .q-icon{
            color: #fff;
            border-radius: 50%;
            background: #1F2660;
            padding: 2px;
        }
    }
}
.wrp_pop_consulta{
    padding: 0 20px;
    border: 1px solid #CA9E64;
    button{
        margin-top: -18px;
        margin-right: -28px;
        .q-icon{
            color: #fff;
            border-radius: 50%;
            background: #1F2660;
            padding: 2px;
        }
    }
}
.table_clubes{
    .f_normal{
        font-weight: 400 !important;
    }
    .strong{
        font-weight: bold !important;
    }
}
.galeria_beneficios{
    .q-carousel__arrow .q-icon {
        font-size: 28px;
        background: #CA9E64;
        color: #1F2660;
        border-radius: 50%;
    }
}
button.bg_white_i{
    .q-btn__content{
        text-transform: capitalize;
    }
    &:hover{
        background: #1F2660 !important;
        .q-btn__content{
            color: #fff;
        }
    }
}
button.bg_orange{
    border: 1px solid #CA9E64;
    .q-btn__content{
        text-transform: capitalize;
    }
    &:hover{
        background: #fff !important;
        border: 1px solid #CA9E64;
        .q-btn__content{
            color: #CA9E64;
        }
    }
}
.border_blue{
    border: 1px solid #1F2660 ;
}